@import url('https://fonts.googleapis.com/css?family=Questrial');

html,body{
 width:100%;
 height: 100%;
 margin:0;
 padding: 0;
}

.container-app{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-app-container{
  display:flex;
  flex:1;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  height: 2rem;
  background-color: #cf2227;
}


.header-app-title{
  font-size:1.1rem;
  color:white;
  font-family:questrial, sans-serif;
}

@media screen and (min-width: 640px) {
  .header-app-container{
    justify-content: flex-start;
  }
  .header-app-title{
    margin-left: 3rem;
  }
}


@media screen and (min-width: 400px) and (max-width:640px) {
  .header-app-container{
    justify-content: flex-start;
  }
  .header-app-title{
      margin-left: 1.5rem;
  }
}

.container-content-app{
  display: flex; flex: 1 0 auto; margin :0 auto; width:90%;
}

.framework-presentation-container{
  position:relative;
  display: flex; flex: 1;justify-content: center;align-items: center;flex-direction: column;
  background-color:#edf3f6;
  height: 23rem;
  border-bottom: 1px solid #bad1dd;
}
@media screen and (min-width: 640px) {
  .framework-presentation-container{
    flex-direction:row;
  }
}

@media screen and (min-width: 400px) {
  .framework-presentation-container{
    height: 20rem;
  }
}

.svg-presentation-container{
  height: 100% ;
  display:flex;
  flex:3;
  align-items: center;
  justify-content: center;
}


@media screen and (min-width: 400px) {
  .svg{
    height: 12rem;
  }
}


@media screen and (min-width: 920px) {
  .svg-presentation-container{
    flex:1;
  }
}

.svg-presentation{
  height: 100%;
  width:auto;
  max-height: 12rem;
}

.framework-presentation-content-container {
  display:flex;
  flex:3;
  flex-direction:column;
  justify-content: space-around;align-items: center;
  height: 50%;
}

@media screen and (min-width: 920px) {
  .framework-presentation-content-container {
    flex:1;
  }
}

.framework-presentation-titles{
  display:flex;
  flex-direction:column;
  justify-content: center;align-items: center;
  font-family: questrial,sans-serif;
  font-weight: bolder;
}

@media screen and (min-width: 1120px) {
  .framework-presentation-titles {
    white-space: pre;
    flex-direction:row;
  }
}

.framework-presentation-title{
  color:rgb(85, 85, 85);
  font-size:2rem;

}
@media screen and (max-width: 400px) {
.framework-presentation-btn-list{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
}

.btn{
  cursor:pointer;
  display: inline-block;
  color:#FFF;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  background: #5da3cb;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
  overflow: hidden;
  font-family: questrial,sans-serif;;
  border-radius: 36px;
  font-size: 1rem;
  min-width: 120px;
  border:none;
}

.btn-mini{
  margin-left: 20px;
  min-width:85px;
}

.btn-disable{
  background-color:#a4a4a4;
  cursor:not-allowed;
}

.btn-fat{
  display: inline-block;
  color:#FFF;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  background: #5da3cb;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: questrial,sans-serif;;
  border-radius: 36px;
  min-width: 154px;
  border:none;
}

.btn-fat-secondary-color{
    background: #29c8a4;
}

.title-h2{
  font-size: 24px;
    line-height: 30px;
    color: #cf2227;
    margin-bottom: 15px;
}


.container-actions{
  display: flex;
  flex:1;
  flex-direction:column;
}

.checkbox-for-all-container{

}

.checkbox-classic{
  margin: 0;
  padding: 0;
  height: 0.9rem;
  width: 0.8rem;
  margin-right: 1rem;
}

.svg-container{
  margin: 0 0.5rem 0 0.5rem ;
  width:  1.1rem;
  height: 1.1rem;
}

.task-element{

  display:flex;
  flex-direction:row;
  list-style: none;
  margin:0.5rem 0 0.5rem 0;
  align-items: center;
  animation: slide-up 0.4s ease;
}


.text-classic{
    font-size: 16px;
    color: #56585e;
    font-family: questrial,sans-serif;
}

.text-error{
  color: #da4040;
}

.form-classic{
  margin:1rem;
}

.input-classic:hover{
    cursor: normal;
}

.input-classic{
    border: 9px;
    border-radius: 6px;
    color: #888;
    cursor: pointer;
    font: inherit;
    font-size: .8em;
    padding: 10px 12px;
    background: none repeat scroll 0 0 #faf9f7;
}

.input-error{
  border: 1px #e26a6a solid;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.footer-app{
  background-color: #edf3f6;
  padding: 2rem 0;
  border-top: 1px solid #bad1dd;
  text-align: center;
}

.marionette-wrapper-inline{
  display:inline-block;
}
